.App {
  background-color: #4f6c8a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.WinnerDisplay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.WinnerDisplay h2 {
  font-size: 4rem;
}

.WinnerDisplay .Actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.TicTacToeBoard {
  background-color: #7d9ec1;
  display: flex;
  flex-wrap: wrap;
  width: 34rem;
  height: 34rem;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
}

.Square {
  background-color: #8fb4db;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: #e2e8fc;
  font-family: 'Comfortaa', sans-serif;
}

.GameTitle h1 {
  font-size: 4rem;
  color: #e2e8fc;
}

.GameDetails {
  padding: 2rem;
  color: #e2e8fc;
  font-size: 1.5rem;
}